.header content{
    display: flex;
    flex-direction: row;
    border: 0px solid black;
    justify-content: center;
}

.logodiv{
    display: flex;
    flex-direction: row;
    align-items: center; 
    width: 80%;   
    border: 0 solid green;
}

.logodiv img{
    border: 0px solid #42515f;
    margin-left: 90px;
}

.emp-text{
    font: normal normal bold 20px/25px Montserrat;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 0px;
    color: #82a70c;
    text-transform: capitalize;
}

.form-content {
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px solid green;
}

.form{
    width: 70%;
    padding: 44px 60px;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #f5f5f5;
    border-radius: 8px;
    opacity: 1;
}

.form-head {
    font: normal normal bold 24px/37px Roboto;
    letter-spacing: 0px;
    color: #42512f;
    text-transform: capitalize;
    opacity: 1;
    padding-bottom: 20px;
}
.row-content{
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
    align-items: center;
    border: 0px solid green;
}

label {
    min-width: 140px;
    display: inline-block;
    padding: 12px 12px 12px 0px;
}

.input {
    width: 100%;
    padding: 12px;
    border: 1px 1px #ccc;
    border-radius: 4px;
    resize: vertical;
}

.text{
    font-size: 14px;
    color: #42515f;
    opacity: 1;
    font-weight: bold;
    font-family: Roboto;
}